<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <p>edit-word.ejs</p>
  <form id="word-form" method="post" action="/edit/<%= word.id %>?_method=PUT">
    <div class="form-info">
      <label>Words_en
        <input type="text" name="words_en" value="<%= word.words_en %>">
      </label>

      <label style="text-align: center;">Activ
        <input type="checkbox" name="activ" checked value="<%= word.activ %>">
      </label>

      <!-- <div>
        <input type="radio" id="huey" name="activ" value="<%= word.activ %>"  />
        <label for="huey">Activ-On</label>
      </div>    
      <div>
        <input type="radio" id="dewey" name="activ" value="<%= word.activ %>" />
        <label for="dewey">Activ-Off</label>
      </div> -->

    </div>
    <div class="form-text">
      <label>Words_ua
        <textarea name="words_ua"><%= word.words_ua %></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>
